# name: Deploy to VPS

# on:
#   push:
#     branches:
#       - main

# jobs:
#   deploy:
#     runs-on: ubuntu-latest
    
#     steps:
#       - name: Deploy to VPS
#         uses: appleboy/ssh-action@v1.0.0
#         with:
#           host: ${{ secrets.VPS_HOST }}
#           username: ${{ secrets.VPS_USERNAME }}
#           key: ${{ secrets.VPS_SSH_KEY }}
#           port: 22
#           script: |
#             cd ~/ercerie_last-version-coty-c
#             git pull origin main
#             docker compose down
#             docker compose build --no-cache
#             docker compose up -d
#             docker system prune -f




name: Build and Push Docker Image

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/ercerie_last-version-coty-c:latest
          cache-from: type=registry,ref=ghcr.io/${{ github.repository_owner }}/ercerie_last-version-coty-c:buildcache
          cache-to: type=registry,ref=ghcr.io/${{ github.repository_owner }}/ercerie_last-version-coty-c:buildcache,mode=max
